.header {
    position: relative;
}

@media screen and (min-width: 769px) {
    .header__container:hover {
        box-shadow: 0 0 4px 4px #00000026;
        transition: all var(--transition-short-duration) ease-in-out;
    }
}

.header__navigation--logo {
    background-image:  url("../assets/header-background.png");
    background-color: transparent;
    background-position: center center;
    background-repeat: repeat-x;
    padding: 10px;
    width: 100%;
}

.brand__logo {
    display: block;
    margin: 0 auto;
    width: 180px;
}

@media screen and (max-width: 768px) {
    .header__container {
        box-shadow: 0 0 4px 4px #00000026;
    }

    .brand__logo {
        width: 120px;
    }
}